// @import '~sharedStyles/containers';
@import '../../styles/variables';
@import '../../styles/buttons';
@import '../../styles/containers';
@import '../../styles/forms';

.adminTools {
  @extend .card;
  border-top: 15px solid #ccc;

  form {
    .form-group {
      display: flex;
      position: relative;
      margin: 5px 0;
    }

    button[type='submit'] {
      @extend button.primary;
      float: right;
      margin-top: 5px;
    }
  }
}

.link {
  cursor: pointer;
  color: $primaryColor;
  font-weight: bolder;
  &:hover {
    color: $inputColor;
  }
}
.closeLink {
  position: absolute;
  right: 10px;
  top: 10px;
}
