// @import '~sharedStyles/containers';
@import '../../styles/containers';
@import '../../styles/forms';

.donationWidget {
  @extend .card;
  padding-top: 40px;
  position: relative;
  .progressBar {
    top: 0;
    height: 12px;
  }
}
