$headingFont: 'Poppins', 'Arial';
$bodyFont: 'IBM Plex Sans', 'Arial';

$font-size-base: 13px !default;

body,
html {
  font-family: $bodyFont;
  font-size: $font-size-base;
  line-height: 1.4;
}

.h1,
.h2 {
  font-family: $headingFont;
  font-weight: bolder;
}
.h1 {
  font-size: 20px;
}
.h2 {
  font-size: 15px;
}

button {
  font-family: $headingFont;
}
