// @import '~sharedStyles/variables';
@import '../../styles/variables';

$background: lighten($infoColor, 35%);
$border: lighten($infoColor, 36%);

.infoBubble {
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    padding-bottom: 20px;
    display: block;
  }
}

.infoBubble-content {
  padding: 8px 15px;
  position: relative;
  color: $infoColor;
  background: $background;
}

.progressCarat {
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
  transform: rotate(45deg);
  transform-origin: 0 0;
  z-index: -1;
  transition: 0.5s;
  background: $background;
}
