@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&family=Poppins:wght@300;500&display=swap');
@import './styles/type';

body {
  margin: 0;
  background: #fcfcfc;
  font-family: $bodyFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
