@import '~sharedStyles/variables';

.progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba($primaryColor, 0.3);
}

.progressBar-fill {
  position: absolute;
  top: 0;
  left: 0;
  background: $primaryColor;
  display: block;
  height: 100%;
  transition: 0.5s;
}
