// @import '~sharedStyles/variables';
// @import '~sharedStyles/buttons';
@import '../../styles/variables';
@import '../../styles/buttons';
@import '../../styles/forms';

.a11y-hidden {
  visibility: hidden;
  position: absolute;
}

.donationForm {
  box-sizing: border-box;
  margin: 25px 0 0;

  .form-group {
    @extend .form-group.pill;

    &:after {
      content: '$';
      padding: 10px;
      display: block;
      position: absolute;
      color: lighten($inputColor, 25%);
      font-size: 16px;
    }
  }
}
